[phases.setup]
nixPkgs = ["nodejs_20", "pnpm-9_x"]

[phases.install]
dependsOn = ["setup"]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
dependsOn = ["install"]
cmds = ["echo 'No build step required'"]

[start]
cmd = "node server.js"
